.top{
text-align: center;
}
.top h2{
font-family: LFT Etica Sheriff;
font-size: 42px;
font-weight: 400;
letter-spacing: 0.6rem;
text-align: center;
padding-top: 150px;
margin: 0;
}
.top img{
width: 1120px;
height: 635px;
object-fit: cover;
margin-top: 50px;
border-radius: 30px;
border: 2px solid #4C4C4C;
}
.portfolio_content{
margin-top: 100px;
}
.portfolio_content ul li{
display: flex;
justify-content: left;
text-align: left;
align-items: center;
gap: 80px;
}
.portfolio_content p{
font-family: LFT Etica Sheriff;
font-size: 18px;
font-weight: 400;
}